<div class="jumbotron">
  <h1 class="display-4">Post History</h1>
</div>

<h2> Post History </h2>

<table class="table mt-2">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">khabar_name</th>
        <th scope="col">khabar_type</th>
        <th scope="col">khabar_details</th>
        <th scope="col">khabar_price</th>
        <th scope="col">khabar_qnty</th>
        <th scope="col">Post Date</th>
        <th scope="col">Post Time</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of post_list">
        <th>{{a.name}}</th>
        <th>{{a.khabar_name}}</th>
        <th>{{a.khabar_type}}</th>
        <th>{{a.khabar_details}}</th>
        <th>{{a.khabar_price}}</th>
        <th>{{a.khabar_qnty}}</th>
        <th>{{a.created_date}}</th>
        <th>{{a.created_time}}</th>
        <th><button type="button" class="btn btn-success" (click)="view(a.post_id)">Success</button></th>
      </tr>
    </tbody>
  </table>