<!-- Show the index -->
<div *ngIf="index">
  <app-index></app-index>
</div>

<!-- Show the panel -->
<div class="wrapper" *ngIf="!index">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Khabar</h3>
    </div>

    <ul class="list-unstyled components" *ngIf="sign">
      <li class="active">
        <a routerLink="/into">You</a>
      </li>
      <li>
        <a routerLink="/index">index</a>
      </li>
      <li>
        <a routerLink="/khabar-post">Khabar Post</a>
      </li>
      <li>
        <a routerLink="/history-post">Post History</a>
      </li>
      <li>
        <a routerLink="/orders">Order History</a>
      </li>
      <li>
        <a routerLink="/account">Account Trx</a>
      </li>
      <li>
        <a routerLink="/profile">My Profile</a>
      </li>
      <li>
        <a routerLink="/trc">Terms & Condition</a>
      </li>
      <li>
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
    <ul class="list-unstyled components" *ngIf="!sign">
      <li>
        <a (click)="indexF()">Go Back</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>
