<div class="jumbotron">
    <h1 class="display-4">Order History</h1>
    <p class="lead">Here you get the info of your order</p>
  </div>
  
  
  <table class="table table-borderless">
      <caption>List of transaction</caption>
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Description</th>
          <th scope="col">From</th>
          <th scope="col">Where</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td><button type="button" class="btn btn-light">Details</button></td>
        </tr>
      </tbody>
    </table>