<div *ngIf="!checkout">

  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top mb-3">
    <h5 class="my-0 mr-md-auto font-weight-normal">Khabar</h5>
    <button class="btn btn-outline-primary ml-1 mr-1" href="#" (click)="click()">Subscription</button>
    <button class="btn btn-outline-primary ml-1 mr-1" href="#">Sign up</button>
    <button class="btn btn-outline-primary ml-1 mr-1" href="#">About</button>
    <button class="btn btn-primary ml-1 mr-1">
      Number of Cart <span class="badge badge-light">4</span>
    </button>
  </div>


  <section class="jumbotron text-right mt-4">
    <div class="container">
      <h1 class="display-4" style="color: blue">Khabar App</h1>
      <p class="lead" style="color: blue">This is a modified jumbotron that occupies the entire horizontal space of its
        parent.</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="http://localhost/khabar-api/khabar/goat-biryani.jpg" alt="Card image cap"
              height="300px" width="200px">
            <div class="card-body">
              <p class="card-text" style="color: black">This is a wider card with supporting text below as a natural
                lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="add()">Add</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
                <small class="text-muted">maker name</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">

    <p class="text-center mt-2">Khabar v1</p>

  </footer>

</div>

<div *ngIf="checkout">

</div>